<mat-card class="vpblock1bg influencebannertopblock">
  <mat-card-content class="topbannerhomewrapper">
    <span class="mainwrappercontent">
      <span class="logowrapper">
        <a [routerLink]="['']">
          <img src="../../assets/images/logo.png" class="landinglogoblock1" />
        </a>
        <span class="bannerbottomsection">
          <h2>sign up with</h2>
          <h1>Consult4Health</h1>
          <h3>today and start taking control of your health.</h3>
        </span>
      </span>
      <span class="topbannerhomecontentform">
        <span class="topbannerhomeright formcls" id="formclsblock">
          <h1>Get control of your health today</h1>
          <mat-card-header>
            <h2>contact us</h2>
          </mat-card-header>

          <mat-card-content class="example-container">
            <mat-form-field>
              <input matInput placeholder="First Name" />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Last Name" />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Telephone" />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Address" />
            </mat-form-field>
            <!-- <mat-form-field>
                      <input matInput placeholder="Country">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="City">
                    </mat-form-field> -->
            <mat-form-field>
              <mat-label>Select an option</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option value="option1">State/Province</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Zip Code" />
            </mat-form-field>
            <!-- <mat-form-field>
                      <textarea matInput placeholder="Message"></textarea>
                    </mat-form-field>      -->
            <p class="yesnopara">
              Would you like to fill out the “360 Degree Healthcare Profile
              Survey” as soon as you are signed up?
            </p>
            <mat-radio-group formControlName="floatLabel">
              <mat-radio-button value="auto"><img src="../../assets/images/yeslabel.jpg" /></mat-radio-button>
              <mat-radio-button value="always"><img src="../../assets/images/nolabel.jpg" /></mat-radio-button>
            </mat-radio-group>
          </mat-card-content>
          <mat-card-footer>
            <button mat-button>Join</button>
          </mat-card-footer>
          
        </span>
      </span>
    </span>
  </mat-card-content>
</mat-card>

<mat-card class="imgdiv generalcls ptb-78 c4hblock1bg1">   
    <span class="mainwrappercontent1341">
      <mat-card-header>
        <mat-card-title>
          <h1>Get the top healthcare information and concierge telemedicine physician services with unlimited no visit cost access 24 hours a day</h1> 
        </mat-card-title>
      </mat-card-header>      
    </span> 
</mat-card>

<mat-card class="imgdiv imgdivfirst generalcls ptb-78 c4hblock1bg">   
    <span class="mainwrappercontent1341">      
      <mat-card-content class="c4hblock1content">  
          <img src="../../assets/images/c4hblock1iconstetho.png" class="iconstetho">
          <p><span>Consult4Health.com</span> is your online destination for education, opportunities and like-minded individuals that care deeply about their health.  We offer an array of services and education on hundreds of different health topics. This includes a health and wellness article database full of a wealth information covering the full spectrum of health conditions, with fresh new articles added weekly. </p>  
      </mat-card-content>
    </span> 
</mat-card>

<mat-card class="imgdiv generalcls ptb-78 c4hblock2bg">
    <span class="mainwrappercontent1618">
        <mat-card-header>
            <mat-card-title>
              <h2>Your Consult4Health.com yearly subscription also provides <br>you with the other valuable benefits, <br>including the following:</h2>
            </mat-card-title>            
          </mat-card-header>
          <mat-card-content class="c4hblock2content">   
            <mat-list>
              <mat-list-item> 
                    <span class="mat-card-image-wrapper">
                      <img mat-card-image src="../../assets/images/c4hblock2img1.jpg">
                    </span>
                    <p>Access to an article database on health and wellness.  We have literally hundreds of professionally written articles and dozens of categories to choose from. We update and add fresh articles every week.</p>
              </mat-list-item>
              <mat-list-item> 
                    <span class="mat-card-image-wrapper">
                      <img mat-card-image src="../../assets/images/c4hblock2img2.jpg">
                    </span>
                    <p>We also send our subscribers a weekly newsletter covering many health and healthcare industry issues. You’ll receive valuable insights into current services and products available to you and the latest breakthroughs in nutrition, medicine and healthcare technology.  We help you stay up-to-date on developments you need to know about, helping you to make well-informed healthcare decisions.</p>
              </mat-list-item>
              <span class="break"></span> <!-- break -->
              <mat-list-item> 
                    <span class="mat-card-image-wrapper">
                      <img mat-card-image src="../../assets/images/c4hblock2img3.jpg">
                    </span>
                    <p>We hold member only live webinars where you can come and listen to lectures from the top professionals in the industry talk about what is going on in health care. Our special guest speakers range from nutritionists, physicians, lab chemists, and many more. Physicians from our telemedicine partners speak often and bring incredible insight on how to maintain health and live without illness.</p>
              </mat-list-item>
              <mat-list-item> 
                  <span class="mat-card-image-wrapper">
                     <img mat-card-image src="../../assets/images/c4hblock2img4.jpg">
                  </span>
                  <p>Our programs are built on customized care for every subscription member. We offer a our “360 Degree Healthcare Profile Survey” where you answer a variety of questions about your health and the health of your family members.  This profile allows us to match you with the best articles and available healthcare information specialized to the exact needs of maintaining personal health and that of your family.</p>
              </mat-list-item>
              <mat-list-item> 
                  <span class="mat-card-image-wrapper">
                    <img mat-card-image src="../../assets/images/c4hblock2img3.jpg">
                  </span>
                  <p>Based on your profile, we present a variety of opportunities you may have an interest in signing up for. These include programs you can find with some of the leading healthcare systems in the country. We include opportunities for at home lab tests, medical programs in health management and match you with specific products and services many of which offer trials.</p>
              </mat-list-item>
            </mat-list>     
        </mat-card-content>
    </span>
    <img src="../../assets/images/c4hblock2bgtopleft.png" class="c4hblock2bgtopleft">  
</mat-card>

<mat-card class="imgdiv generalcls c4hblock3bg">   
  <span class="c4hblock3bgimgright">
      <span class="mainwrappercontent1341 ptb-78">            
          <mat-card-content class="c4hblock1content">  
              <h2>Join our community today</h2>
              <p>and take control of your health and the future health of you and your family. There are so many opportunities you can engage at home without having to get in a car and drive to a physician. There are programs offered through our network of doctors, both in telemedicine and through hospitals and physicians’ groups that you may not know exist.  Programs that may save your life or that of a family member. Let us be your healthcare consultants and keep you on the road to a vibrant healthy life.</p>    
          </mat-card-content>         
    </span>   
  </span>
      
</mat-card>
<mat-card class="imgdiv generalcls ptb-78 c4hblock4bg c4hblock1bg1">   
    <span class="mainwrappercontent1341">
      <mat-card-header>
        <mat-card-title>
          <h1>Get signed Sign up with Consult4Health today and start taking control of your health.</h1> 
        </mat-card-title>
      </mat-card-header>      
    </span> 
</mat-card>

<mat-card class="imgdiv generalcls c4hblock5 text-center">   
    <span class="mainwrappercontent1341">
        <button mat-button>join now</button>
        <span class="logowrapper">
          <a [routerLink]="['/']">
            <img src="../../assets/images/logo.png" class="landinglogoblock1" />
          </a>
        </span>  
        <p class="copyrighttxt">Copyright © 2019 Consult4Health. All rights reserved.</p>
    </span> 
</mat-card>
