<mat-card class="vpblock1bg influencebannertopblock">
  <mat-card-content class="topbannerhomewrapper">
    <span class="mainwrappercontent">
      <span class="logowrapper">
        <a [routerLink]="['']">
          <img src="../../assets/images/logo.png" class="landinglogoblock1" />
        </a>
        <span class="bannerbottomsection">
          <h2>sign up with</h2>
          <h1>Consult4Health</h1>
          <h3>today and start taking control of your health.</h3>
        </span>
      </span>
      <span class="topbannerhomecontentform">
        <span class="topbannerhomeright formcls" id="formclsblock">
          <h1>Get control of your health today</h1>
          <mat-card-header>
            <h2>contact us</h2>
          </mat-card-header>

          <mat-card-content class="example-container">
            <mat-form-field>
              <input matInput placeholder="First Name" />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Last Name" />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Telephone" />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Address" />
            </mat-form-field>
            <!-- <mat-form-field>
                      <input matInput placeholder="Country">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="City">
                    </mat-form-field> -->
            <mat-form-field>
              <mat-label>Select an option</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option value="option1">State/Province</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Zip Code" />
            </mat-form-field>
            <!-- <mat-form-field>
                      <textarea matInput placeholder="Message"></textarea>
                    </mat-form-field>      -->
            <p class="yesnopara">
              Would you like to fill out the “360 Degree Healthcare Profile
              Survey” as soon as you are signed up?
            </p>
            <mat-radio-group formControlName="floatLabel">
              <mat-radio-button value="auto"><img src="../../assets/images/yeslabel.jpg" /></mat-radio-button>
              <mat-radio-button value="always"><img src="../../assets/images/nolabel.jpg" /></mat-radio-button>
            </mat-radio-group>
          </mat-card-content>
          <mat-card-footer>
            <button mat-button>Join</button>
          </mat-card-footer>
          
        </span>
      </span>
    </span>
  </mat-card-content>
</mat-card>

<mat-card class="imgdiv imgdivfirst generalcls ptb-78 c4hblock1bg"> 
  
  
  <mat-card-content class="c4hblock1content">
    
    <span class="mainwrappercontent1341">
        <h1>Get the top healthcare information and concierge telemedicine physician services with unlimited no visit cost access 24 hours a day</h1> 
        <img src="../../assets/images/c4hblock1iconstetho.png" class="iconstetho">
        <p><span>Consult4Health.com</span> is your online destination for education, opportunities and like-minded individuals that care deeply about their health.  We offer an array of services and education on hundreds of different health topics. This includes a health and wellness article database full of a wealth information covering the full spectrum of health conditions, with fresh new articles added weekly. </p>
    </span>   
  </mat-card-content>
  <span class="c4hblock1"></span>
</mat-card>

<mat-card class="imgdiv">
  <mat-card-content>
    <img src="../../assets/images/c4hblock2.jpg" />
  </mat-card-content>
</mat-card>

<mat-card class="imgdiv">
  <mat-card-content>
    <img src="../../assets/images/c4hblock3.jpg" />
  </mat-card-content>
</mat-card>
